.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.formulario .formulario-fechas__box {
    padding: .2em 0;
    align-items: center;
}
.formulario .formulario-fechas__box 
    .formulario-fechas__box--dias {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 45px;
    }
.formulario .formulario-fechas__box
    .formulario-fechas__box--horario {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
    }
.formulario .formulario-fechas__box    
    .formulario-fechas__box--estado-dia {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;   
    }